{% extends 'dashboard_app_main/base.html' %}
{% block title_block %}
Dashboard
{% endblock %}
{% block body_block %}
{{ block.super }}
<div class="chart-container">
    <div class="chart-item">
        <h2>Position</h2>
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="chart-info">
    <div class="chart-info-item">
        <h3>Response Time</h3>
        <p>{{ response }} ms</p>
    </div>
    <div class="chart-info-item">
        <h3>Download Data</h3>
        <a href="{% url 'dashboard_app_main:download_csv_position' %}" class="btn btn-primary">Download CSV</a>
    </div>
</div>

<div style="margin-top: 20px; text-align: center;">
    <button class="btn btn-primary" onclick="showChart('X')">X Component</button>
    <button class="btn btn-primary" onclick="showChart('Y')">Y Component</button>
    <button class="btn btn-primary" onclick="showChart('Z')">Z Component</button>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var positionData = JSON.parse('{{ position | safe }}');
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart; // Chart.js instance
    var currentComponent = 'X';

    function filterData(component) {
        return positionData.filter(item => item.component_name === component);
    }

    function createLineChart(labels, datasets) {
        if (myChart) {
            myChart.destroy(); // Clear previous chart instance
        }

        myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: `Position for X, Y, and Z components`
                    }
                },
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Timestamp'
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Value'
                        }
                    }
                },
                elements: {
                    line: {
                        tension: 0.4 // Adjust the tension for smoother curves (0 to 1)
                    }
                }
            }
        });
    }

    function showChart(component) {
        currentComponent = component;

        var xData = filterData('X').map(item => item.value);
        var yData = filterData('Y').map(item => item.value);
        var zData = filterData('Z').map(item => item.value);
        var labels = filterData('X').map(item => item.timestamp);

        createLineChart(labels, [
            {
                label: 'Position X Component',
                data: xData,
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                fill: false
            },
            {
                label: 'Position Y Component',
                data: yData,
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                fill: false
            },
            {
                label: 'Position Z Component',
                data: zData,
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                fill: false
            }
        ]);
    }

    // Initial rendering of the chart for X component
    showChart('X');
</script>
{% endblock %}