{% extends 'dashboard_app_main/base.html' %}
{% block title_block %}
Dashboard
{% endblock %}
{% block body_block %}
{{ block.super }}

<div class="chart-container">
    <div class="chart-item">
        <h2>{{ device }}</h2>
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="chart-info">
    <div class="chart-info-item">
        <h3>Response Time</h3>
        <p>{{ response }} ms</p>
    </div>
    <div class="chart-info-item">
        <h3>Download Data</h3>
        <a href="{% url 'dashboard_app_main:download_csv_time' %}" class="btn btn-primary">Download CSV</a>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var accumulatedData = JSON.parse('{{ accumulated | safe }}');

    // Prepare data for Chart.js
    var accumulatedLabels = accumulatedData.map(item => item.timestamp);
    var accumulatedValues = accumulatedData.map(item => item.value);

    // Create the line chart using Chart.js
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart; // Chart.js instance

    function createLineChart(labels, values) {
        if (myChart) {
            myChart.destroy(); // Clear previous chart instance
        }

        myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Accumulated Time',
                        data: values,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        fill: false
                    },
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Accumulated Time'
                    }
                },
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Timestamp'
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Value'
                        }
                    }
                }
            }
        });
    }

    // Initial rendering of the chart
    createLineChart(accumulatedLabels, accumulatedValues);
</script>
{% endblock %}